@import url("https://unpkg.com/leaflet/dist/leaflet.css");


.button-container {
  display: flex;
  flex-direction: column;
  color: var(--white);
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.button-container label {
  color: var(--soft-gray);
  padding-bottom: 10px;
}

.title-container{
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title-container h5{
  margin: 0.5em;
  background: var(--white);
  color: var(--dark);
  border: none;
  border-radius: 0.625em;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  }

#start {
  display: flex;
  appearance: none;
  background-color: var(--dark);
  border: 0.125em solid var(--blue-white);
  border-radius: 10rem;
  box-sizing: border-box;
  color: var(--dark);
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  width: 250px;
  height: 250px;
  outline: none;
  padding: 1em 2.3em;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 200ms ease-in-out, box-shadow 200ms ease-in-out;
}

#start:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.7); 
}

#start:active {
  transform: scale(0.95); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); 
}



.hidden {
  position: absolute;
    opacity: 0;
    transform: translateY(-100%);;
    transition: opacity 0.5s ease, transform 0.5s ease;
    pointer-events: none;
}

.visible {
  position: relative;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
  pointer-events: auto; 
}


/* *//* *//* *//* *//* *//*  GROUP *//* *//* *//* *//* *//* *//* */

.global-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--white);
    padding: 2rem;
    flex: 1;
    overflow: auto;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

article .form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* *//* *//* *//* *//* *//*  MAP *//* *//* *//* *//* *//* *//* */


#map {
  height: 300px;
  width: 100%;
  margin: 1rem;
}

.gm-control-active,
.gmnoprint img {
  width: 30px !important;
  height: 30px !important;
}


/* *//* *//* *//* *//* *//*  DATE *//* *//* *//* *//* *//* *//* */


.input {
    border: 2px solid transparent;
    width: 15em;
    height: 2.5em;
    padding-left: 0.8em;
    outline: none;
    overflow: hidden;
    background-color: var(--soft-gray);
    border-radius: 10px;
    transition: all 0.5s;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  
  .input:hover,
  .input:focus {
    border: 2px solid var(--soft-dark);
    box-shadow: 0px 0px 0px 7px rgba(16, 37, 56, 0.2);
    background-color: var(--white);
  }
  



/* *//* *//* *//* *//* *//*  SERVICES *//* *//* *//* *//* *//* *//* */


.radio-inputs {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 0.25rem;
    margin-bottom: 1rem;
  }
  
  .radio-inputs > * {
    margin: 6px;
  }
  
  .radio-input:checked + .radio-tile {
    border-color: var(--soft-dark);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    color: var(--soft-dark);
  }
  
  .radio-input:checked + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
    background-color: var(--soft-dark);
    border-color: var(--soft-dark);
  }
  
  .radio-input:checked + .radio-tile .radio-icon svg {
    fill: var(--soft-dark);
  }
  
  .radio-input:checked + .radio-tile .radio-label {
    color: var(--soft-dark);
  }
  
  .radio-input:focus + .radio-tile {
    border-color: var(--soft-dark);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
  }
  
  .radio-input:focus + .radio-tile:before {
    transform: scale(1);
    opacity: 1;
  }
  
  .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80px;
    min-height: 80px;
    border-radius: 0.5rem;
    border: 2px solid var(--blue-white);
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: 0.15s ease;
    cursor: pointer;
    position: relative;
  }
  
  .radio-tile:before {
    content: "";
    position: absolute;
    display: block;
    width: 0.75rem;
    height: 0.75rem;
    border: 2px solid var(--blue-white);
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
  }
  
  .radio-tile:hover {
    border-color: var(--gray);
  }
  
  .radio-tile:hover:before {
    transform: scale(1);
    opacity: 1;
  }


  .radio-icon span {
    width: 2rem;
    height: 2rem;
    color: #494949;
  }
  
  .radio-label {
    color: #707070;
    transition: 0.375s ease;
    text-align: center;
    font-size: 13px;
  }
  
  .radio-input {
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

/* *//* *//* *//* *//* *//*  DIRECTION *//* *//* *//* *//* *//* *//* */

.input[type="checkbox"] {
  display: none;
}


.custom-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid var(--blue-white);
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: var(--soft-dark);
  border-radius: 2px;
  opacity: 0;
}

.input[type="checkbox"]:checked + .custom-checkbox::after {
  opacity: 1;
}

.container-check {
  display: flex;
  gap: 10px;
  align-items: center;
  margin: 1rem;
}


.check-text{
  color: var(--gray);
}




  
  #direction {
    margin: 1rem;
    padding: 0.8em;
    border: 2px solid var(--blue-white);
    background-color: transparent;
    border-radius: 10px;
    width: 100%;
  }
  
  input:focus{
    border: 2px solid rgb(200, 200, 200);

  }



#content-direction {
    position: absolute;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    width: 100%;
    max-width: 250px;
}

#content-direction.show {
    position: relative;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto; 
}

  #direction-group{
    margin: 1rem;
    padding: 1rem;
  }




/* *//* *//* *//* *//* *//*  BUTTON *//* *//* *//* *//* *//* *//* */



  button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid var(--blue-white);
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #fff;
    background-color: #1A1A1A;
    border-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }

     /* *//* *//* *//* *//* *//*  FOOTER *//* *//* *//* *//* *//* *//* */

   .footer {
    background-color: var(--soft-dark);
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
  }


     /* *//* *//* *//* *//* *//*  RESPONSIVE *//* *//* *//* *//* *//* *//* */


   @media (max-width: 600px) {

    .radio-inputs {
        display: grid;
        justify-content: center;
        align-items: center;
        max-width: 350px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

    }
    

    @media (min-width: 768px) {
      body {
        font-size: 18px; /* Ajuste para tablets */
      }
    }
    
    @media (min-width: 1024px) {
      body {
        font-size: 20px; /* Ajuste para laptops */
      }
    }
    
    @media (min-width: 1280px) {
      body {
        font-size: 22px; /* Ajuste para escritorios grandes */
      }
    }