:root {
    --red: #dc3545;
    --teal: #20c997;
    --white: #ffffff;
    --blue-white: #b5bfd9;
    --gray: #6c757d;
    --soft-gray: #f3f3f3;
    --gray-dark: #5c5b5b;
    --danger: #dc3545;
    --dark: #0c0c0c;
    --soft-dark:#2b2b2b;
    --transparent: transparent;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --font-family-dancing: 'Dancing Script', cursive;
  }

     /* *//* *//* *//* *//* *//*  GLOBAL STYLE *//* *//* *//* *//* *//* *//* */


html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  
  body {
    margin: 0;
    font-family: var(--font-family-sans-serif);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--dark);
    text-align: left;
    background-color: var(--dark);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    padding-top: 0;
  }
    body::-webkit-scrollbar {
      width: 0;  /* Para navegadores basados en WebKit, como Chrome y Safari */
    }

  hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  
  h1 {
    font-size: 2.5rem;
  }
  
  h2 {
    font-size: 2rem;
  }
  
  h3 {
    font-size: 1.75rem;
  }
  
  h4 {
    font-size: 1.5rem;
  }
  
  h5 {
    font-size: 1.25rem;
  }
  
  h6 {
    font-size: 1rem;
  }
  
  p {
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  svg {
    overflow: hidden;
    vertical-align: middle;
  }